    body {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        background-image: url(../img/bgd.png);
        background-size: cover;
        background-position: fixed;
        padding: 20px;
        margin: 0;
        min-height: 100vh; /* Set a minimum height to ensure centering on the whole viewport */
        overflow: hidden;
    }

    .logo {
        text-align: center;
        animation: rotateLogo 3s linear; /* Apply the animation to the logo */
    }

    @keyframes rotateLogo {
        from {
            transform: rotate(0deg); /* Starting rotation angle */
        }
        to {
            transform: rotate(360deg); /* Ending rotation angle */
        }
    }

    .logo a {
        display: inline-block; /* Ensure the link takes only as much space as necessary */
    }

    .logo img {
        max-width: 100%; /* Set the maximum width to 50% of its container */
        height: auto; /* Maintain the aspect ratio */
    }
